@model HomeViewModel



<h2>Choose a recipe!</h2>




<div class="row">
    @foreach (var recipe in Model.SelectedRecipes)
    {
        <partial name="_RecipeCard" model="recipe" />
    }


</div>

@*<partial name="_Carousel" />*@