@model RecipeListViewModel



    <h1>Welcome to the recipe mania</h1>
    
    @foreach (var recipe in Model.Recipes)
    {
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        
        <div class="caption">
            
            <h3>
                <a>@recipe.Name</a>
            </h3>
            <p>@recipe.Kitchen</p>
        </div>
    </div>
</div>
    }
