@model RecipeListViewModel



    <h1>Welcome to the recipe mania</h1>
    <div class="w-100 p-3">
        @foreach (var recipe in Model.Recipes)
        {
            <partial name="_RecipeCard" model="recipe" />
        }
    </div>
        <br />
<h1> Does this go inbetween? </h1>

        <div class="w-100 p-3">
            <div class="crateNew">
                <p class="button">
                    <a class="btn btn-primary"
                       asp-controller="Recipe"
                       asp-action="Create">Create new recipe</a>
                </p>
            </div>
        </div>