
<div class="boxed" height="400" width="400">
    <h2>Creator of 'Chef's Helper'</h2>
    <h3>Johan Juul Jensen</h3>
    <h3><email address="johanjuulj@gmail.com" content="Click here to send me a message"></email></h3>
</div>